
<ion-view view-title="IAS" hide-nav-bar="false"  ion-university>
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Welcome Ram!</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <!--h4 class="border-top">
                <i class="icon ion-ionic"></i>
                Ionic + Material Expansion
            </h4-->
             <h4 class="border-top"><i class="icon ion-android-happy"></i> You're Overall Progress</h4>
            <!--div class="list">
                <a class="item item-avatar" href="#/app/wksumm">
                    <img src="img/material1.jpg">
                    <h2>Management Accounting and Finance</h2>
                    <p>20% Complete..</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material2.jpg">
                    <h2>Financial Accounting</h2>
                    <p>50% Complete..</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material3.jpg">
                    <h2>Auditing</h2>
                    <p>Ready to Start</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material3.jpg">
                    <h2>Taxation</h2>
                    <p style="color: green;">100% Complete !</p>
                </a>
            </div-->

  <div class="center"><img src="img/progress.png" class="img-responsive center" class="center"></div>

             <button class="button button-raised  button-block ion-ios-paper-outline button-stable ink-dark" ng-click="courses();" >  Courses</button>
              <button class="button button-raised ion-videocamera button-block button-stable ink-dark" ng-click="courses();">  Videos</button>
 
             <button class="button button-block button-raised button-stable ion-cash ink-dark" ng-click="courses();">  Badges</button>
              <button class="button button-block button-raised button-stable ion-person ink-dark" ng-click="courses();">  About us</button>

               <button class="button button-block button-raised button-stable ion-iphone ink-dark" ng-click="courses();">  Contact us</button>
 
          
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>


</ion-view>
