
<ion-view view-title="IAS" ion-university>
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Welcome Ram!</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <!--h4 class="border-top">
                <i class="icon ion-ionic"></i>
                Ionic + Material Expansion
            </h4-->
             <h4 class="border-top"><i class="icon ion-android-happy"></i> You're Overall Progress</h4>
            <div class="list">
                <a class="item item-avatar" href="#/app/wksumm">
                    <img src="img/material1.jpg">
                    <h2>Management Accounting and Finance</h2>
                    <p>20% Complete..</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material2.jpg">
                    <h2>Financial Accounting</h2>
                    <p>50% Complete..</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material3.jpg">
                    <h2>Auditing</h2>
                    <p>Ready to Start</p>
                </a>
                <a class="item item-avatar">
                    <img src="img/material3.jpg">
                    <h2>Taxation</h2>
                    <p style="color: green;">100% Complete !</p>
                </a>
            </div>


    </ion-content>


</ion-view>
