
<ion-view view-title="IAS">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Welcome Ram!</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <!--h4 class="border-top">
                <i class="icon ion-ionic"></i>
                Ionic + Material Expansion
            </h4-->
             <h4 class="border-top"><i class="icon ion-android-happy"></i>Weekly Summary</h4>
                       <div class="list">
                <a class="item item-thumbnail-right">
                    <!--img src="img/ionic.png"-->
                    <h2>Week 1</h2>
                    <p>A mobile development revolution</p>
                </a>
                <a class="item item-thumbnail-right">
                    <!--img src="img/google-material.png"-->
                    <h2>Week 2</h2>
                    <p>A visual language of design &amp; innovation</p>
                </a>
                <a class="item item-thumbnail-right">
                    <!--img src="img/logo.png"-->
                    <h2>Week 3</h2>
                    <p>Their love-child</p>
                </a>
                <a class="item item-thumbnail-right">
                    <!--img src="img/logo.png"-->
                    <h2>Week 4</h2>
                    <p>Their love-child</p>
                </a>
                <a class="item item-thumbnail-right">
                    <!--img src="img/logo.png"-->
                    <h2>Week 5</h2>
                    <p>Their love-child</p>
                </a>
                <a class="item item-thumbnail-right">
                    <!--img src="img/logo.png"-->
                    <h2>Week 6</h2>
                    <p>Their love-child</p>
                </a>
                <a class="item item-thumbnail-right">
                    <!--img src="img/logo.png"-->
                    <h2>Week 7</h2>
                    <p>Their love-child</p>
                </a>

            </div>

          
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>


</ion-view>
